body{
    margin: 0;
    background-color: rgb(245, 230, 212);
}

header{

    background-color: rgb(248, 213, 14);
    
}



a{
    color:rgb(0, 0, 0);
    text-decoration: none;

}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    
}

nav a{
    font-weight: 500;
    padding-right: 10px;
}

a:hover{
    color: green;
    font-size: 120%;
    font-weight: bold;
}

.descuento {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: black;
    color:white;
    height: 50px;
}

#productos{
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    flex-direction: column;
}

.tituloProductos1{
    display: flex;
    justify-content: center;
}
.columnax4{
    width: 25%;
    float: left;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: auto;
}

.columnax4 img{
    height: 180px;
    width: 100%;
}


#formulario{
    width: 350px;
    /*border: 2px dotted rgb(8, 107, 33);*/
    border-radius: 5px;
    margin: 0 100px;
    padding: 10px;
    justify-content: center;
    clear: both;
    background-color: rgb(241, 205, 0);
}

form{
    width: 350px;
}

label{
    display: block;
}

.div_navegador{
    display: flex; /*modifica las cosas en el lugar en el que estan*/

}

.prueba{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor-elementos{
    width: 100%;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}    
.elementos{
    width: 33,333%;
    float: left;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: auto;

}

.contanos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

#form-productos{
    width: 400px;
    background-color: rgb(241, 205, 0);
    clear: both;
    padding: 35px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

#form-productos h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.control{
    width: 100%;
    background-color: rgb(216, 192, 55);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5px solid rgb(165, 155, 97);
}

#form-productos .boton{
    width: 100%;
    background-color: black;
    height: 35px;
    font-size: 15px;
    color: white;
}

.productos2{
    width: 100%;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    flex-direction: column;
}

.productos2 li{
    list-style: none;
}

/*.productos2 > h3{
    width: 20%;
}*/

.columnax2{
    width: 50%;
    padding: 10px 10px;
    box-sizing: border-box;
}

.columnax2 img {
    height: 250px;
    width: 50%;
}

.tituloProductos2{
    display: flex;
    justify-content: center;
}